.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
# intellij stuff
.idea/
.log
packages/server/temp
packages/server/.env
backups
packages/server/tmp_downloads
packages/client/components.d.ts
packages/client/stats.html
